<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consulta Aspirantes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="stylesheet" href="/css/stylesLayout.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <% include ../../includes/navbar %>
  </head>

  <body>
    <div class="maestro">
      <div class="container" id="loggin">
        <h2 class="title has-text-centered">Análisis Hartman</h2>
        <h3 class="subtitle has-text-centered">
          <%= analisisHartman[0].nombreAspirante %>
          <%= analisisHartman[0].apellidoPaternoAspirante %>
          <%= analisisHartman[0].apellidoMaternoAspirante %>
        </h3>

        <div class="contenedor-principal">
          <div class="grafica-container">
            <canvas id="chart"></canvas>

            <!-- Tabla 1: Mundo Interno -->
            <h4 class="title is-5">Mundo Interno - Citas</h4>
            <table class="table is-striped is-hoverable is-bordered compact-table">
              <thead class="thead-dark">
                <tr>
                  <th>Dim I</th>
                  <th>Dim E</th>
                  <th>Dim S</th>
                  <th>Dim General</th>
                  <th>Dim %</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= analisisHartman[0].citaDimI %></td>
                  <td><%= analisisHartman[0].citaDimE %></td>
                  <td><%= analisisHartman[0].citaDimS %></td>
                  <td><%= analisisHartman[0].citaDimGeneral %></td>
                  <td><%= analisisHartman[0].citaDimPorcentaje %></td>
                </tr>
                <tr>
                  <th>Int I</th>
                  <th>Int E</th>
                  <th>Int S</th>
                  <th>Int General</th>
                  <th>Int %</th>
                </tr>
                <tr>
                  <td><%= analisisHartman[0].citaIntI %></td>
                  <td><%= analisisHartman[0].citaIntE %></td>
                  <td><%= analisisHartman[0].citaIntS %></td>
                  <td><%= analisisHartman[0].citaIntGeneral %></td>
                  <td><%= analisisHartman[0].citaIntPorcentaje %></td>
                </tr>
                <tr>
                  <th>D.I</th>
                  <th>DIF</th>
                  <th>DIS</th>
                  <th>Sq1</th>
                  <th>Sq2</th>
                  <th>Ai%</th>
                </tr>
                <tr>
                  <td><%= analisisHartman[0].citaDi %></td>
                  <td><%= analisisHartman[0].citaDif %></td>
                  <td><%= analisisHartman[0].citaDIS %></td>
                  <td><%= analisisHartman[0].citaSQ1 %></td>
                  <td><%= analisisHartman[0].citaSQ2 %></td>
                  <td><%= analisisHartman[0].citaAiPorcentaje %></td>
                </tr>
              </tbody>
            </table>

            <!-- Tabla 2: Mundo Externo -->
            <br />
            <h4 class="title is-5">Mundo Externo - Frases</h4>
            <table class="table is-striped is-hoverable is-bordered compact-table">
              <thead class="thead-dark">
                <tr>
                  <th>Dim I</th>
                  <th>Dim E</th>
                  <th>Dim S</th>
                  <th>Dim General</th>
                  <th>Dim %</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= analisisHartman[0].fraseDimI %></td>
                  <td><%= analisisHartman[0].fraseDimE %></td>
                  <td><%= analisisHartman[0].fraseDimS %></td>
                  <td><%= analisisHartman[0].fraseDimGeneral %></td>
                  <td><%= analisisHartman[0].fraseDimPorcentaje %></td>
                </tr>
                <tr>
                  <th>Int I</th>
                  <th>Int E</th>
                  <th>Int S</th>
                  <th>Int General</th>
                  <th>Int %</th>
                </tr>
                <tr>
                  <td><%= analisisHartman[0].fraseIntI %></td>
                  <td><%= analisisHartman[0].fraseIntE %></td>
                  <td><%= analisisHartman[0].fraseIntS %></td>
                  <td><%= analisisHartman[0].fraseIntGeneral %></td>
                  <td><%= analisisHartman[0].fraseIntPorcentaje %></td>
                </tr>
                <tr>
                  <th>DiF</th>
                  <th>D.I</th>
                  <th>DIS</th>
                  <th>Vq1</th>
                  <th>Vq2</th>
                  <th>Ai%</th>
                </tr>
                <tr>
                  <td><%= analisisHartman[0].fraseDif %></td>
                  <td><%= analisisHartman[0].fraseDi %></td>
                  <td><%= analisisHartman[0].fraseDIS %></td>
                  <td><%= analisisHartman[0].fraseVQ1 %></td>
                  <td><%= analisisHartman[0].fraseVQ2 %></td>
                  <td><%= analisisHartman[0].fraseAiPorcentaje %></td>
                </tr>
              </tbody>
            </table>

            <!-- Tabla 3: Equilibrio -->
            <h4 class="title is-5">Equilibrio</h4>
            <table class="table is-striped is-hoverable is-bordered compact-table">
              <thead class="thead-dark">
                <tr>
                  <th>Área</th>
                  <th>Bqr1</th>
                  <th>Bqr2</th>
                  <th>Bqa1</th>
                  <th>Bqa2</th>
                  <th>Cq1</th>
                  <th>Cq2</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Equilibrio</strong></td>
                  <td><%= analisisHartman[0].BQr1.toFixed(2) %></td>
                  <td><%= analisisHartman[0].BQr2.toFixed(2) %></td>
                  <td><%= analisisHartman[0].BQa1.toFixed(2) %></td>
                  <td><%= analisisHartman[0].BQa2.toFixed(2) %></td>
                  <td><%= analisisHartman[0].CQ1.toFixed(2) %></td>
                  <td><%= analisisHartman[0].CQ2.toFixed(2) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
      const ctx = document.getElementById("chart").getContext("2d");
      const chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: [
            "DimI", "DimE", "DimS", "DiF", "DimGeneral", "DimPorcentaje",
            "IntI", "IntE", "IntS", "IntGeneral", "IntPorcentaje",
            "Di", "Dis", "Sq1/Vq1", "Sq2/Vq2",
            "Bqr1", "Bqr2", "Bqa1", "Bqa2", "Cq1", "Cq2"
          ],
          datasets: [
            {
              label: "Mundo Interno",
              data: [
                <%= datos.MundoInterno.DimI %>, <%= datos.MundoInterno.DimE %>, <%= datos.MundoInterno.DimS %>,
                <%= datos.MundoInterno.DiF %>, <%= datos.MundoInterno.DimGeneral %>, <%= datos.MundoInterno.DimPorcentaje %>,
                <%= datos.MundoInterno.IntI %>, <%= datos.MundoInterno.IntE %>, <%= datos.MundoInterno.IntS %>,
                <%= datos.MundoInterno.IntGeneral %>, <%= datos.MundoInterno.IntPorcentaje %>,
                <%= datos.MundoInterno.Di %>, <%= datos.MundoInterno.Dis %>,
                <%= datos.MundoInterno.Sq1 %>, <%= datos.MundoInterno.Sq2 %>,
                null, null, null, null, null, null
              ],
              borderColor: "red",
              backgroundColor: "rgba(255, 0, 0, 0.2)",
              fill: false,
              tension: 0,
              pointRadius: 3,
            },
            {
              label: "Mundo Externo",
              data: [ <%= datos.MundoExterno.DimI %>,<%= datos.MundoExterno.DimE %>, <%= datos.MundoExterno.DimS %>,
                <%= datos.MundoExterno.DiF %>, <%= datos.MundoExterno.DimGeneral %>, <%= datos.MundoExterno.DimPorcentaje %>,
                <%= datos.MundoExterno.IntI %>, <%= datos.MundoExterno.IntE %>, <%= datos.MundoExterno.IntS %>,
                <%= datos.MundoExterno.IntGeneral %>, <%= datos.MundoExterno.IntPorcentaje %>,
                <%= datos.MundoExterno.Di %>, <%= datos.MundoExterno.Dis %>,
                <%= datos.MundoExterno.Sq1 %>, <%= datos.MundoExterno.Sq2 %>,
                null, null, null, null, null, null
              ],
              borderColor: "blue",
              backgroundColor: "rgba(0, 0, 255, 0.2)",
              fill: false,
              tension: 0,
              pointRadius: 3,
            },
            {
              label: "Equilibrio",
              data: [
                null, null, null, null, null, null,
                null, null, null, null, null,
                null, null, null, null,
                <%= datos.Equilibrio.Bqr1 %>, <%= datos.Equilibrio.Bqr2 %>,
                <%= datos.Equilibrio.Bqa1 %>, <%= datos.Equilibrio.Bqa2 %>,
                <%= datos.Equilibrio.Cq1 %>, <%= datos.Equilibrio.Cq2 %>
              ],
              borderColor: "black",
              backgroundColor: "rgba(0, 0, 0, 0.2)",
              fill: false,
              tension: 0,
              pointRadius: 3,
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            title: {
              display: true,
              text: "Gráfico de Líneas: Análisis Hartman"
            },
            legend: {
              position: "bottom"
            },
            tooltip: {
              enabled: false
            }
          },
          hover: {
            mode: null
          },
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Valor"
              }
            }
          }
        }
      });
    </script>
  </body>
</html>
